<html>  
    <head><link rel="stylesheet" href="app.css"></head>
<body>  
        <form action="http://127.0.0.1:3000/api/addPatient" method="POST">      
          <input name="patientId" type="text" class="feedback-input" placeholder="Enter Patient ID"  />   
          <input name="name" type="text" class="feedback-input" placeholder="Enter Name"  />   
          <input name="phone" type="text" class="feedback-input" placeholder="Enter Phone Number"  />
          <input name="emailId" type="text" class="feedback-input" placeholder="Enter Email ID"  />
          <input type="submit" value="ADD">
        </form>    
</body>  
</html>  
