<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		.alert {
			  padding: 20px;
			  background-color: #f44336;
			  color: white;
		}
	</style>
</head>
<body>
	<div class="alert">
	<p style="font-size:30px" align="center">
		You do not have access to this Patient's EHR.<br>
		Please request the Patient to provide the access.
	</p>
	</div>		
</body>
</html>
