<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		.alert {
			  padding: 20px;
			  background-color: #00A36C;
			  color: white;
		}
	</style>
</head>
<body>
	<script>
		alert('Email is being send to the Patient.....');
	</script>
	<div class="alert">
	<p style="font-size:30px" align="center">
		<strong>Success!</strong> Email has been sent to Patient for granting EHR access!<br>
		Patient will grant you access shortly. Thank you!!!
	</p>
	</div>		
</body>
</html>
