<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		.alert {
			  padding: 20px;
			  background-color: #00A36C;
			  color: white;
		}
	</style>
</head>
<body>
	<script>
		alert('Your EHR is downloading.....');
	</script>
	<div class="alert">
	<p style="font-size:30px" align="center">
		<strong>Success!</strong> Patient EHR is downloaded.
	</p>
	</div>		
</body>
</html>
